= labelled_form_for [:admin,category, picture], :html => {:multipart => true}, :remote => true do |form|

  %h4= form.object.new_record? ? "Ajouter une photographie" : "Modifier la photographie"

  = render :partial => 'admin/pictures/form_fields', :locals => { :form => form }

  - if form.object.new_record?
    = link_to_function "Annuler", "$(this).parent('form').slideUp({},function(){$(this).remove()})"
  - else
    = link_to "Annuler", admin_category_picture_path(category,picture), :remote => true
  
  = form.submit

