<% labelled_form_for [:admin, @content], :remote => true do |form| %>
  <%= form.text_field :label %>

  <%= content_tag :div, :class=> "form_line" do %>
    <label>Image actuelle</label>
    <%= image_tag form.object.image.url(:small) %>
  <% end %>
  <%= form.file_field :image %>
  
  <%= form.text_area :html, :id => "html_#{(Time.now.to_f*100).to_i}", :label => "Texte" %>
  <%= link_to "Annuler", edit_admin_content_path(@content), :remote => true %>
  <%= form.submit %>
<% end %>