<%= content_for :side_content do %>
  <%= render :partial => 'categories/menu' if @category %>
<% end %>  

<%= render :layout => 'layouts/content' do %>
  <div id="gallery">
    <div id="loading"></div>
    <a class="slideLink next"  href="#" title="Next Page"></a>
    <a class="slideLink prev"  href="#" title="Previous Page"></a>
    <div id="slideshow"></div>
    <div id="thumbs-wrapper" class="<%= params[:action]%>">
      <div id="thumbs">
        <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
        <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
        <ul class="thumbs">
          <%= render :partial => @pictures %>
        </ul>

      </div>
    </div>
  </div>
<% end %>  
