<%= labelled_form_for [:admin, category], :html => { :multipart => true }, :remote => true do |form| %>
  <h4><%= form.object.new_record? ? "Nouveau reportage" : "Modifier le reportage" %></h4>
  <%= form.text_field :title %>

  <%= form.file_field :image %>

  <%= form.text_area :description %>

  <% if form.object.new_record? %>
    <%= link_to "Annuler", cancel_new_admin_category_path, :remote => true %>
  <% else %>
    <%= link_to "Annuler", admin_category_path, :remote => true %>
  <% end %>
  <%= form.submit %>
  
<% end %>