%div{ :id=>"category_#{@category.id}_menu", :class=> "#{@category.class.name.downcase} menu "}

  %h3= @category.title

  - if @category.type.nil? and @pictures

    %ul
      %li#slideShowCaption
      %li#slideShowControls
      - if params[:controller] == "categories"
        %li= link_to "Overview", category_path(@category), :remote => true
        %li= link_to "Full Screen", "#", :id => "fullScreen"
  
    .line

  - elsif not @category.type.nil?

    = image_tag @category.image.url(:large)

