%div{ :id => "category_#{@category.id}_menu", :class=> "#{@category.class.name.downcase} menu "}



  - if @category.type.nil? and @pictures

    %h3= @category.title

    %ul
      %li#slideShowCaption
      %li#slideShowControls
      %li= link_to "Overview", category_path(@category), :remote => true        
      - if params[:controller] == "categories"
        %li= link_to "Full Screen", "#", :id => "fullScreen"
    .line

  - elsif not @category.type.nil?

    = image_tag @category.image.url(:large)

