<div id="category_<%=@category.id%>_menu" class="<%= @category.class.name.downcase%> menu ">
    <h3><%= @category.title%></h3>
    <% if @category.type.nil? and @pictures %>
    <ul>
      <li id="slideShowCaption"></li>
      <li id="slideShowControls"></li>
      <% if params[:controller] == "categories" %>
        <li><%= link_to "Overview", category_path(@category), :remote => true %></li>
      <% end %>
      <li><%= link_to "Full Screen", "#", :id => "fullScreen" %></li>
    </ul>
    <div class="line">&nbsp;</div>
    <% elsif not @category.type.nil? %>
      <%= image_tag @category.image.url(:large) %>
    <% end %>
</div>