<!DOCTYPE html>
<html>
<head>
  <title>Alvarocanovas</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults, 'website' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="page">
    <h1>Alvaro Cannovas <span>Photography</span></h1>
    <div id="menu">

      <h2><span>Menu</span></h2>

      <ul id="main_menu_list">
        <%= menu_item_link "Accueil", list_top_pictures_path, :remote => true do %>
          <% Category.all.each do |category| %>
            <li><%= link_to category.title, category_path(category), :remote => true %></li>
          <% end %>
        <% end %>
        <%= menu_item_link "Corporate/Advertising", list_top_pictures_path %>
        <%= menu_item_link "Publications", list_top_pictures_path %>
        <%= menu_item_link "Multimedia", list_top_pictures_path %>
        <%= menu_item_link "Current Work", list_top_pictures_path %>
        <%= menu_item_link "Bio", list_top_pictures_path %>
        <%= menu_item_link "Contact", list_top_pictures_path %>
      </ul>

    </div>
    
    <div id="content">
      <div id="side_content">
        <%= yield :left_column %>
      </div>
      <div id="main_content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
